Repository tim-master2020/JSD, pull requests merged in 2021-03, with the labels that each got.

#5 fixed reference type issue
  JSD/example/primer.jsb
  JSD/generator/generator.py
  JSD/generator/templates/model_backend.j2
  JSD/language/Java.tx
  JSD/script.py
Labels: backend

#8 Feature input value check
  JSD/example/primer.jsb
  JSD/language/meta_model.py
Labels: backend, enhancement

#9 Feature create service templates
  JSD/generator/generator.py
  JSD/generator/templates/model_backend.j2
  JSD/generator/templates/model_iservice.j2
  JSD/generator/templates/model_service.j2
Labels: backend

#11 Bugfix primitive types
  JSD/example/primer.jsb
  JSD/generator/generator.py
  JSD/generator/templates/model_backend_template.j2
  JSD/language/Java.tx
  JSD/language/meta_model.py
Labels: backend

#12 Bugfix model template
  JSD/generator/templates/model_backend_template.j2
  JSD/language/Java.tx
Labels: backend

#13 Feature create java spring initial
  .gitignore
  JSD/demo/.gitignore
  JSD/demo/.mvn/wrapper/MavenWrapperDownloader.java
  JSD/demo/.mvn/wrapper/maven-wrapper.jar
  JSD/demo/.mvn/wrapper/maven-wrapper.properties
  JSD/demo/mvnw
  JSD/demo/mvnw.cmd
  JSD/demo/pom.xml
  JSD/demo/src/main/java/com/example/demo/DemoApplication.java
  JSD/demo/src/main/resources/application.properties
  JSD/demo/src/test/java/com/example/demo/DemoApplicationTests.java
  JSD/example/generator_output/backend/model/Covek.java
  JSD/example/generator_output/backend/model/Zanimanje.java
  JSD/generator/generator.py
  JSD/generator/templates/model_iservice.j2
  JSD/generator/templates/model_service.j2
  scriptBackend.ps1
Labels: backend

#14 Feature controller templates
  .gitignore
  JSD/generator/generator.py
  JSD/generator/templates/model_controller.j2
Labels: backend

#15 Feature create repository template
  .gitignore
  JSD/generator/generator.py
  JSD/generator/templates/model_backend_template.j2
  JSD/generator/templates/repository_backend.j2
  JSD/language/meta_model.py
Labels: backend

#16 Added editing model on button click
  JSD/generator/templates/editTypescript.j2
  JSD/generator/templates/previewModel.j2
  JSD/generator/templates/previewTypescript.j2
Labels: backend

#17 added imports to model template and fixed properties of type []
  JSD/generator/templates/model_backend_template.j2
Labels: backend

#19 fixed return types and array list initialization
  JSD/example/primer.jsb
  JSD/generator/templates/model_backend_template.j2
  JSD/generator/templates/repository_backend.j2
  JSD/language/meta_model.py
Labels: backend

#20 Fixed errors in templates.
  JSD/generator/templates/model_controller.j2
  JSD/generator/templates/model_service.j2
Labels: backend, bug

#21 Fix model issues with object types
  JSD/example/primer.jsb
  JSD/generator/templates/model_backend_template.j2
  JSD/language/Java.tx
  JSD/language/meta_model.py
Labels: backend

#23 added check if correct annotations are used with certain object struc…
  JSD/language/meta_model.py
Labels: backend

#24 Fix crud bugs in front templates
  JSD/example/primer.jsb
  JSD/generator/generator.py
  JSD/generator/templates/addHtml.j2
  JSD/generator/templates/addTypescript.j2
  JSD/generator/templates/appRouting.j2
  JSD/generator/templates/editHtml.j2
  JSD/generator/templates/editTypescript.j2
  JSD/generator/templates/previewModel.j2
  JSD/generator/templates/service.j2
Labels: bug

#25 fix multiple select data
  JSD/generator/templates/addHtml.j2
  JSD/generator/templates/addTypescript.j2
  JSD/generator/templates/editHtml.j2
  JSD/generator/templates/editTypescript.j2
  JSD/generator/templates/previewModel.j2
Labels: bug

#26 Fix language add relationship owner
  JSD/example/primer.jsb
  JSD/generator/generator.py
  JSD/generator/templates/addTypescript.j2
  JSD/generator/templates/editTypescript.j2
  JSD/generator/templates/model_backend_template.j2
  JSD/generator/templates/previewModel.j2
  JSD/language/Java.tx
  JSD/language/meta_model.py
  JSD/language/model.ent
Labels: backend
